/* Default style for skip link, font, and heading*/
a.skip{
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: #f3f4f5;
  color: white;
  opacity: 0;
}

a.skip:focus{
  left: 10%;
  top: 10%;
  transform: translateX(-50%);
  opacity: 1;
}

html{
  font-size: 70%;
  scroll-behavior: smooth;
}

body {
  background-color: #0d121a;
  font-family: 'Merriweather';
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fafbfc;
}

h1, .declaration {
  font-size: xx-large;
  margin: 0;
}

h2 {
  font-size: x-large;
  margin: 0;
  font-family: 'Merriweather';
}

h3 {
  font-family: 'Merriweather';
  font-size: large;
  background: -webkit-linear-gradient(
    90.98deg,
    #18b9cfe6 -2.14%,
    #6688ff 103.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header, main, main ~ section, footer {
  padding: 1rem;
}

.separator {
  margin-bottom: 1rem;
  font-size: x-large;
}


/* links and image link*/
a {
  text-decoration: none;
}

a > img {
  width: 3rem;
}

a > img:hover {
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}

/******************************************
LAYOUT
/*******************************************/

/*box setting, clearfix for general layout problem*/
* {
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

/* HEADER AND NAV STYLING */
header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #263243;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 10%;
  z-index: 2;
}

.nav-menu {
  position: fixed;
  display: contents;
  top: -2rem;
  right: -200vh;
  height: 100vh;
  width: 75vw;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  background: #1f2631;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.nav-menu.is-active {
  top: 0;
  right: 0;
  margin: 0;
  box-shadow: 0 1rem 5rem 0 rgba(0, 0, 0, 0.3);
}

.navlink a {
  color: #e5e6ed;
}

.navlink a:hover {
  color: #097381e6;
}

.navlink:nth-child(4) a {
  display: block;
  padding: 0.8rem 2.5rem;
}

.navlink:nth-child(4):hover {
  transform: scale(1.2);
  background: transparent;
  transition: transform 0.4s ease-in-out;
}

.nav-social {
  padding: 2.5rem 0;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.social img {
  width: 3.5rem;
  height: 3.5rem;
}

.social img:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-in-out;
}

/**************************
/* Menu for Mobile
**************************/
.hamburger {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 2;
}

.hamburger.is-active {
  position: fixed;
  top: 2.3rem;
  right: 2rem;
  background: rgb(31, 38, 49);
}

.menu-bar {
  position: relative;
  width: 100%;
}

.menu-bar,
.menu-bar::before,
.menu-bar::after {
  height: 0.2rem;
  border-radius: 0.5rem;
  background: rgba(24, 185, 207, 0.9);
  transition: all 0.5s ease-in-out;
}

.menu-bar::before {
  position: absolute;
  content: "";
  top: -1.1rem;
  right: 0;
  width: 70%;
  transition: all 0.5s ease-in-out;
}

.menu-bar::after {
  position: absolute;
  content: "";
  bottom: -1.1rem;
  right: 0;
  width: 70%;
  transition: all 0.5s ease-in-out;
}

.menu-bar.is-active {
  background: transparent;
}

.menu-bar.is-active::before {
  width: 100%;
  transform: rotate(45deg) translateX(1.5rem);
}

.menu-bar.is-active::after {
  width: 100%;
  transform: rotate(-45deg) translateX(1.5rem);
}

/************************
Section
************************/
main {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-social { /* hide this section for mobile view */
  display: none;
}

.name-highlight {
  background: -webkit-linear-gradient(
    top right,
    #8097eb,
    #18b9cfe6
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact-box {
  margin-top: 20px;
}

.cta {
  display: inline-block;
  width: 10%;
  margin: 0.5rem 1.8rem;
  margin-left: 0;
  padding: 1rem 1.5rem;
  background: linear-gradient(
    99.41deg,
    #8097eb -39.51%,
    #18b9cfe6 116.85%
  );
  text-align: center;
  color: #ccd5f3;
}

.cta1 {
  text-transform: uppercase;
  font-weight: 500;
}

.cta:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

.cta2, .navlink:nth-child(4) {
  position: relative;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    180deg,
    #8097eb 0%,
    #18b9cfe6 100%
  );
  background: rgb(34, 40, 49);
}

.cta2::after, .navlink:nth-child(4)::after {
  position: absolute;
  content: "";
  top: -1.8px;
  bottom: -1.8px;
  left: -1.8px;
  right: -1.8px;
  background: linear-gradient(180deg, rgba(24, 185, 207, 0.9) 0%, #3b53a8 100%);
  z-index: -1;
  border-radius: 1.5rem;
}

/* ABOUT SECTION STYLING */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

.separator {
  position: relative;
  align-self: flex-start;
}

.separator::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 5rem;
  height: 0.5rem;
  background-color: rgb(126, 146, 217);
}

.about-text {
  padding-top: 1.2rem;
  line-height: 2;
}

.about-text span {
  color: rgb(29, 228, 255);
}

.about-text + ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.7rem;
  padding: 1.55rem;
}

.skill {
  width: 45%;
  margin-right: 1rem;
}

.selfie {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  padding: 0.3rem;
  border-radius: 1.8rem;
  background: linear-gradient(
    99.41deg,
    #002cc7 -39.51%,
    rgba(24, 185, 207, 0.9) 116.85%
  );
}

.selfie::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 40, 49, 0.35);
}

.profile-img {
  width: 35rem;
  border-radius: 1.5rem;
  object-fit: fill;
  height: 45rem;
}

/* PROJECTS SECTION STYLING */
.featured-projects-box, .project {
  display: flex;
  flex-direction: column-reverse;
  max-width: 35rem;
  max-height: 58rem;
  background: rgb(38, 50, 67);
  box-shadow: 0 1rem 2rem 0 rgba(27, 27, 27, 0.1);

  border-radius: 1.2rem;
}

.project-details-box {
  padding: 2.5rem;
  padding-bottom: 0;
}

.project-main-info span,
h3 {
  margin: 0;
  text-transform: uppercase;
}

.project-main-info p > a {
  color: rgb(29, 228, 255);
}

.project-main-info p > a:hover {
  text-decoration: underline;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.project-tools p {
  background: linear-gradient(
    150deg,
    rgba(29, 228, 255, 0.81) -6.94%,
    rgba(59, 83, 168, 0.9) 97.22%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  padding-bottom: 0.3rem;

}

.project-image-box {
  position: relative;
}

.project-img-link {
  display: block;
  width: 100%;
  height: 100%;
}

.project-img-link > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0 0;
}

.project-img-link > img:hover {
  transform: none;
}


/* CONTACT SECTION STYLING */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  text-align: center;
}

#contact > div {
  padding-bottom: 4rem;
}

#contact span {
  font-size: 1.6rem;
  color: rgba(126, 146, 217, 1);
}

h4 {
  margin: 1rem;

  font-size: 3rem;
}

h4 + p {
  padding: 1rem 0 2rem;
}

#contact > aside {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

/* FOOTER STYLING */
footer {
  width: 100%;
  padding: 1.2rem;
  border-top: 2px solid rgb(38, 50, 67);
  font-size: 1.3rem;
  text-align: center;
  color: rgb(248, 249, 251);
}

/******************************************
MEDIA QUERIES for Tablet
/*******************************************/
@media screen and (min-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.55rem;
  }

  header {
    width: 100%;
  }

  .nav-social {
    display: none;
  }

  main {
    min-height: 90vh;
    width: 90vw;
    justify-content: space-between;
  }

  main section {
    width: 47rem;
  }

  .cta,
  .cta1,
  .cta2 {
    width: fit-content;
    padding: 1.3rem 2.5rem;
  }

  .main-social,
  .contact-social {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
  }

  #about {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .separator {
    width: 100%;
  }

  #about .separator + div {
    width: 55vw;
  }

  .featured-projects-box {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  #contact {
    margin: 3rem 0;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
  }

  #contact div {
    width: 55vw;
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  main .cta2, .hamburger { /*hide the second contact for desktop view */
    display: none;
  }

  body > * {
    width: 103rem;
  }

  header,footer {
    width: 100%;
  }

  header {
    padding: 2rem 3.5rem;
  }

  h1, .declaration {
    font-size: 4rem;
  }

  .logo {
    width: 7.5rem;
  }

  #about .separator + div {
    width: 48vw;
  }

  nav {
    justify-content: space-between;
  }

  nav > a {
    display: block;
  }

  .nav-menu {
    position: static;
    width: 60%;
    height: auto;
    font-size: x-large;
    justify-content: space-between;
    flex-direction: row;
    background: none;
  }

  main > section {
    width: 80%;
  }

  .declaration + p {
    width: 70%;
  }

  #about .separator + div {
    width: 55%;
  }

  #contact div {
    width: 60%;
  }

  .project-image-box {
    min-height: 100%;
  }

  .project-image-box img {
    height: 100%;
  }

  .project {
    height: 35rem;
  }

  .separator ~ .project {
    position: relative;
    min-width: 100%;
    gap: 2.5rem;
    margin-top: 4.5rem;
    background: none;
  }

  .separator ~ .project:nth-child(even) {
    display: flex;
    flex-direction: row;
  }

  .separator ~ .project:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
  }

  .project {
    box-shadow: none;
  }

  .project-details-box {
    position: relative;
    margin-top: 2.5rem;
    padding: 0;
    max-width: 50%;
  }

  .project-main-info {
    position: relative;
    padding: 2rem;
    border-radius: 0.8rem;
    background: rgb(38, 50, 67);
    box-shadow: 0 1rem 3rem 0 rgba(27, 27, 27, 0.2);
    z-index: 1;
  }

  .project-main-info::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 0.8rem;
    transform: skew(-16deg);
    background-color: rgb(38, 50, 67);
    z-index: -2;
  }

  .separator ~ .project:nth-child(even) .project-main-info::before {
    top: 0;
    left: 3.7rem;
  }

  .separator ~ .project:nth-child(odd) .project-main-info::before {
    top: 0;
    right: 2.7rem;
    bottom: 0;
    border-radius: 0.8rem;
    transform: skew(-10deg);
    background-color: rgb(38, 50, 67);
    z-index: -2;
  }

  .separator ~ .project:nth-child(odd) .project-links {
    justify-content: flex-end;
  }

  .separator ~ .project:nth-child(even) .project-image-box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    align-self: stretch;
  }

  .separator ~ .project:nth-child(odd) .project-image-box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    align-self: stretch;
  }

  .separator ~ .project.project3 .project-main-info::before {
    left: 3.7rem;
  }

  .project-tools p {
    display: inline-block;
  }

  .project-image-box::before {
    top: -3rem;
    bottom: 0;
    height: 120%;
  }

  .project-img-link > img {
    border-radius: 1.2rem;
  }

  .project-img-link > img:hover {
    transform: scale(1.05);
  }
}
